body, html {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
}

table {
	font-size: 13px;
}

/* Nav-bar */
#navbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 0px 10px 0px 20px;
	border-bottom: 1px solid black;
}

#navbar .logo {
	height: 30px;
	width: 30px;
	padding-right: 10px;
}

#navbar a.brand {
	padding-right: 10px;
}

.logo_big {
	height: 70px;
	padding-right: 10px;
	vertical-align: middle;
}
.links {
	height: 36px;
	width: 36px;
	padding-top: 2px;
	padding-bottom: 2px;
}
#topMenu {
	/* contains link to Uni Heidelberg, etc. */
	position: fixed;
	top: 5px;
	right: 4px;
	float: right;
	list-style: none;
}
#topMenu > li {
	height: 40px;
	float: left;
	margin: 0px 10px 0px 0;
	line-height: 40px;
}
#topMenu > li > a, #title {
	color: #000000;
	padding-top: 15px;
}
#topMenu > li > a:hover, #title:hover {
	text-decoration: none;
	color: #333333;
}

/* content of page */

#sidebar {
	position: fixed;
	top: 65px;
	left: 0px;
	width: 390px;
	padding-top: 10px;
	/*	overflow: auto;*/
}
#pageContent {
	position: absolute;
	top: 70px;
	left: 400px;
	right: 0px;
	bottom: 0px;
	padding: 0 20px 20px 20px;
	overflow: auto;
}

#pageContent p, #pageContent li {
	line-height: 1.5;
}

#pageContent ul.references {
	margin-top: 1em;
}

#pageContent ul.references li {
	padding-left: 2em;
	text-indent: -2em;
	margin-bottom: 0.3em;
}

#pageContent h1, #pageContent h2, #pageContent h3 {
	margin-bottom: 0.2em;
}

.topOfPage {
	float: right;
	padding-right: 40px;
}
.space {
	height: 20px;
}
.space_small {
	height: 10px;
}
.space_big {
	height: 800px;
}
#dl-horizontal_mod dt {
	width: 300px;
	line-height: 1.5em;
	text-align: left;
}
#dl-horizontal_mod dd {
	line-height: 1.5em;
}
/*overwrite bootstrap*/
a {
	color: #990000;
}
.nav-list>.active>a, .nav-list>.active>a:hover {
	background-color: #990000;
}
a:hover {
	color: #909090;
}
