@media print {
	
	#main, #main * {
		visibility: hidden;
		/*position: absolute; */
		overflow: visible !important;
		/*left: 0;
		top: 0;*/
		/*float: none !important;*/
	}
	#directionsMainContainer, #directionsMainContainer *{
		visibility: visible;
		overflow: visible;
		/*font-size: 20pt;*/
		/*line-height: 1.3;
		float: none;
		position: relative;*/
	}
	#directionsMainContainer {
		position: absolute;
		left: 0px;
		top: 0px;
		/*width: auto;*/
	}

	.directions-container {
		padding: 13px 0;
		position: relative;
	}
	
	.directions-text {
		padding: 3px 5px 0 40px;
		line-height: 16px;
		vertical-align: middle;
	}
	
	.directions-waypoint {
		margin-top: 25px;
		margin-left: 40px;
		line-height: 26px;
		position: absolute;
	}
	
	.directions-waypoint-address {
		margin-top: 21px;
		margin-left: 75px;
		line-height: 26px;
		font-size: 14px;
	}
	
	.directions-waypoint-address .main {
		font-weight: normal;
	}
	
	.directions-waypoint-address .submain {
		font-size: 13px;
		color: #A0A0A0;
	}
	
	.directions-waypoint-info {
		padding: 6px 5px 0 75px;
		position: absolute;
		right: 16px;
		font-size: 12px;
		color: #777777;
	}
	
	.directions-img {
		margin-left: 3px;
		position: absolute;
	}
	
	.directions-mode-distance {
		top: 8px;
		right: 15px;
		padding-left: .5em;
		padding-right: .5em;
		z-index: 1;
		position: absolute;
		background-color: #f8f8f8;
		-color: #a0a0a0;
		font-size: 12px;
	}
	
	.directions-mode-container {
		padding: 0 60px 0 0px;
		position: absolute;
		left: 0px;
		right: 0;
		-bottom: -14px;
		height: 30px;
		
		line-height: normal;
		font-weight: normal;
	}
	
	.directions-mode-line {
		border-bottom: 1px solid #e6e6e6;
		padding-top: 16px;
		margin: 0 2em 0 0;
	}
	
	.directions-summary-info-container {
		width: 65%;
		margin: 0 auto;
		padding: 5px 0 15px 0;
		font-size: 20pt;
	}
	
	.directions-summary-info-time {
		font-size: 20pt;
		color: #000000;
		font-weight: normal;
		display: inline;
	}
	.directions-summary-info-distance {
		font-size: 20pt;
		color: #000000;
		font-weight: normal;
		display: inline;
	}
	
	.directions-summary-info-units {
		display: inline;
		font-size: 14px;
		font-weight: normal;
		color: #777777;
	}
	
	.directions-warning-table {
		color: red;
	}
	
	.directions-warning-table tr td:first-child {
		width: 37px;
	}
	
	.directions-warning-table img {
		height: 16px;
		width: auto;
		margin-left: 3px;
	}
	
	#printRouteInstructions {
		float: right;
		padding-bottom: 0px;
		position: relative;
		top: -4px;
	}
	
}
@page {
	margin: 0.5cm;
}
